<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
  <div class="yellow-block">
          <div class="main-header-content p1 inner">
              <h2 class="page-title">{{@blog.title}}</h2>
              <h3 class="page-description">{{@blog.description}}</h3>
          </div>
  </div>
</header>
