{{!< bootstrap}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
      <div class="well center mt3">
        <h1>404 error</h1>
        <h3>Sorry, Page cannot be found.</h2>

        <p class="mt3">
          <a class="btn btn-primary btn-large" href="/">back to home page page</a>
        </p>

      <p class="mt3">Thanks to <a href="http://code.divshot.com/geo-bootstrap/" target="_new" rel="nofollow">geo bootstrap</a> and the 90's.</p>
      </div>
